<div *ngIf="items.length != 0">
    <div class="parent-class">  
        <div class="cart-items-class">
            <div class="column container" *ngFor="let item of items">
                <mat-grid-list cols="1" class="list-grid">
                    <mat-card class="product-card" >
                        <button mat-fab color="warn" (click)="removeProductFromCart(item)" aria-label="Example icon button with a delete icon">
                            <mat-icon>X</mat-icon>
                          </button>
                        <img mat-card-image src="{{item.url}}" alt="Photo of a Shiba Inu">
                    
                        <mat-card-content class="product-content">
                          <h2>{{item.name}}</h2>
                          <p>{{item.description}}</p>
                          <p>{{item.price}}</p>     
                          <mat-grid-list cols="3" >
                          <mat-grid-tile>
                            <button mat-fab color="warn" (click)="decreaseQuantity(item)"><h1>-</h1></button>
                        </mat-grid-tile>
                            <mat-grid-tile>
                                <p>{{item.quantity}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile>           
                              <button mat-fab color="warn"  (click)="increaseQuantity(item)"><h1>+</h1></button>
                         </mat-grid-tile>
                          </mat-grid-list>
                            
                        </mat-card-content>       
                      </mat-card>
                </mat-grid-list>             
            </div>
            </div>

           
    
            <div class="form-class">
                <h1>total price: {{totalPrice| number : '.2-2'}}</h1>

                        <form #form="ngForm" (ngSubmit)="onSubmit()">
                            <label>full Name</label><br>
                            <input type="text" name="userName" [(ngModel)]="userName"  (ngModelChange)="userNameChange($event)"  required minlength="3" placeholder="minimum 3 characters" ><br>
                            <div class="form-error" *ngIf="userNameError">
                               {{userNameError}}
                              </div>
                          
                            <label>Address</label><br>
                            <input type="text" name="address" [(ngModel)]="address" (ngModelChange)="addressChange($event)"  required minlength="6" placeholder="minimum 6 characters"><br>
                            <div class="form-error" *ngIf="addressError">
                                {{addressError}}
                            </div>
                     

                            <label>Credit Card Number</label><br>
                            <input type="text" name="creditCard" [(ngModel)]="creditCard" (ngModelChange)="creditCardChange($event)" required minlength="16" placeholder="minimum 16 digit"><br>
                            <div class="form-error" *ngIf="creditCardError">
                                {{creditCardError}}
                            </div>

                            <button [disabled]="form.invalid" type="submit">Submit</button>

                    </form>

                    
                    
            </div>
           
    </div>
    
</div>



<div *ngIf="items.length == 0" class="empty-cart">
        <h1>Your Cart Is Empty</h1> 
</div>